extend layout

block content

	h1 #{pageTitle}

	p Ethereum Balance from third party API.

	form(action="/", method="post")
		label(for="addressInput") Address: 
		input(name="address" type="text" placeholder="Address" required autofocus)
		button(type="submit", onsubmit="submit();")  Submit

	p 
		small Please enter Address to calculate Ether balance